body {
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  font-weight: 600
}

h1 {
  font-family: Open Sans, sans-serif;
  font-weight: 800
}

h2 {
  font-family: Open Sans, sans-serif;
  font-weight: 600
}

h3 {
  font-family: Open Sans, sans-serif;
  font-weight: normal
}

h4 {
  font-family: Open Sans, sans-serif;
  font-weight: normal
}

h5 {
  font-family: Open Sans, sans-serif;
  font-weight: 600
}

h6 {
  font-family: Open Sans, sans-serif;
  font-weight: 600
}

video{
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.major_color_bckg {
  margin-left:170px;
  margin-right: 170px;
  margin-top: 50px;
	background-color: rgba(36,201,225,0.5);
}
.btn12{
  padding-top: 70px;
  padding-bottom: 30px;
  color:white;
}
.button {
    background-color: #0ac9c9;
    padding: 15px;
    border: 1px solid #479e6b;
    color:white;
}
.cnt1{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 30px;
}
.color_bckg_1 {
  padding:180px;
}
.whitebox{
  padding: 50px;
  background-color: white;

}
.cnt2{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
}

.ctn3{
  background-color: #dbdbdb;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ctn4{
  padding-top: 50px;
}

.ctn5title{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.ctnallign{
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 30px;
}
.bckg3{
  background-color: #101c3d;
}
.ctn5{
  padding: 40px;
}
#id_bg_1 {
  box-shadow: 0 0 0 0 #fff;
  background-image: url(index1.jpeg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-size: cover;
  height: auto;
}

#id_bg_2 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(index3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
