<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
	<link href="index.html" rel="canonical" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Renaissance Technologies - Stock Prediction App</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stockprediction.css') }}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> </head>

<body>
	<nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #505050;">  <a class="navbar-brand mx-2" style="border: 2px solid rgba(36,201,225,0.8);" href="{{ url_for('index') }}"><b >Renaissance<br /> Technology</b></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('index') }}"><b>Home</b></a> </li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('ourmodel') }}"><b>Our Model</b></a> </li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('dossier') }}"><b>Dossier</b></a> </li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('statistics') }}"><b>Statistics</b></a> </li>
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('contact') }}"><b>Contact Us</b></a> </li>
				</ul>
				<ul class="nav navbar-nav ms-auto">
					<li class="nav-item"><a class="btn btn-dark mx-2" href="{{ url_for('stockprediction') }}" role="button">Stock Prediction App</a></li>
					<li class="nav-item"><a class="btn btn-dark me-2" href="{{ url_for('logout') }}" role="button">Log Out</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="text-center heading"> <b><h1>Stock Market Prediction</h1></b>
		<h3>Welcome to the future of Investing!</h3> </div>
	<!-- Login  -->
	<div class="login_page login_solid_bg">
		<div class="container">
			<div class="log_in_box text-center">
				<form class="login" action="{{ url_for('insertintotable') }}" method="POST">
					<div class="login_title"> {% if not_found %}
						<div class="alert alert-danger" style="color: red;" role="alert"> Please Select a Stock Symbol (Ticker) </div> {% endif %} </div>
					<div class="form-group">
						<select name="nm" id="drop-box">
							<option value="123">Select Stock Ticker</option>
							<option value="^BSESN">^BSESN</option>
							<option value="^NSEI">^NSEI</option>
							<option value="ASIANPAINT.NS">ASIANPAINT.NS</option>
							<option value="BAJFINANCE.NS">BAJFINANCE.NS</option>
							<option value="BHARTIARTL.NS">BHARTIARTL.NS</option>
							<option value="CIPLA.NS">CIPLA.NS</option>
							<option value="ICICIBANK.NS">ICICIBANK.NS</option>
							<option value="ITC.NS">ITC.NS</option>
							<option value="ONGC.NS">ONGC.NS</option>
							<option value="RELIANCE.NS">RELIANCE.NS</option>
							<option value="SBIN.NS">SBIN.NS</option>
							<option value="TATASTEEL.NS">TATASTEEL.NS</option>
							<option value="TCS.NS">TCS.NS</option>
							<option value="TECHM.NS">TECHM.NS</option>
						</select>
					</div>
					<div class="form-group"> </div>
					<div class="form-group sub">
						<button class="btn2"><b>Forecast</b></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End Lgin  -->
	<div class="cardcenter">
		<div class="container row mb-2 ">
			<div class="col-md-6">
				<div class="card flex-md-row mb-4 box-shadow h-md-250">
					<div class="card-body d-flex flex-column align-items-center cardbg"> <strong class="d-inline-block mb-2 text-dark">Share Market</strong>
						<h3 class="mb-0">
                <p><b>Stocks</b></p>
              </h3>
						<p class="card-text mb-auto">A stock  is a security that represents the ownership of a fraction of a corporation. This entitles the owner of the stock...</p> <a href="{{ url_for('stock') }}">Continue reading</a> </div> <img class="card-img-right flex-auto d-none d-md-block" src="{{ url_for('static', filename='stock.jpeg') }}" style="width: 200px; height: 230px;"> </div>
		</div>
			<div class="col-md-6">
				<div class="card flex-md-row mb-4 box-shadow h-md-250">
					<div class="card-body d-flex flex-column align-items-center cardbg"> <strong class="d-inline-block mb-2 text-dark">Long Term Investment</strong>
						<h3 class="mb-0">
                <p><b>Mutual Funds</b></p>
              </h3>
						<p class="card-text mb-auto">Fundamental analysis is the most basic way of determining whether a stock is fairly priced or not. This kind of analysis requires the investor...</p> <a href="{{ url_for('fundamental') }}">Continue reading</a> </div> <img class="card-img-right flex-auto d-none d-md-block" src="{{ url_for('static', filename='mutualfunds.jpeg') }}" style="width: 200px; height: 230px;"> </div>
			</div>
		</div>
	</div>
</body>

</html>
